.container {
  position: relative;
  width: 100%;
  margin: auto;
}

.input {
  display: block;
  box-sizing: border-box;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 35px;
  outline: none;
}

.input:focus {
  box-shadow: 5px 5px 10px 1px rgba(154, 148, 148, 0.3);
}
