.wrapper {
	width: 80%;
	max-width: 1530px;
	margin: 120px auto;
}

@media (max-width: 1400px) {
	.wrapper {
		width: 90%;
	}
}

@media (max-width: 1200px) {
	.wrapper {
		width: 93%;
	}
}

@media (max-width: 768px) {
	.wrapper {
		width: 90%;
	}
}
